allow cameraserver camera:unix_dgram_socket sendto;
allow cameraserver camera_data_file:sock_file write;
allow cameraserver scheduling_policy_service:service_manager find;
allow cameraserver camera_socket:sock_file write;
allow cameraserver mpdecision_socket:sock_file write;

# Interact with other media devices
allow cameraserver video_device:dir search;
allow cameraserver { video_device }:file rw_file_perms;
allow cameraserver camera_data_file:file rw_file_perms;

allow cameraserver { video_device ion_device }:chr_file read;

allow cameraserver system_file:file execmod;
allow cameraserver camera_device:chr_file { open read write ioctl};
allow cameraserver camera_socket:sock_file { open read write ioctl};
allow cameraserver property_socket:sock_file { open read write ioctl};
allow cameraserver init:unix_stream_socket { connectto};
allow cameraserver cameraserver:fd { use };
