allow cameraserver camera_device:chr_file rw_file_perms;
allow cameraserver camera_socket:sock_file write;

allow cameraserver system_file:file execmod;

allow cameraserver mpctl_socket:dir r_dir_perms;
allow cameraserver mpctl_socket:sock_file rw_file_perms;

allow cameraserver mpdecision:unix_stream_socket connectto;
