type thermald_socket, file_type;

type ramdump_data_file, file_type, data_file_type;

# Persist firmware types
type persist_camera_file, file_type;
type persist_wifi_file, file_type;

type sysfs_rmnet, fs_type, sysfs_type;
type sysfs_smdpkt, fs_type, sysfs_type;
