allow mediaserver mpdecision:unix_stream_socket connectto;
allow mediaserver camera_device:dir search;
allow mediaserver camera_device:chr_file rw_file_perms;
allow mediaserver audio_device:chr_file rw_file_perms;

allow mediaserver system_file:file execmod;
