type_transition mm-qcamerad system_data_file:dir camera_socket "cam_socket1";
type_transition mm-qcamerad system_data_file:dir camera_socket "cam_socket2";
allow mm-qcamerad system_data_file:dir w_dir_perms;

# Connect to sensor socket (/data/app/sensor_ctl_socket)
allow mm-qcamerad apk_data_file:dir r_dir_perms;

allow mm-qcamerad sensors_socket:sock_file read;

# Read camera files from persist filesystem
allow mm-qcamerad persist_file:dir search;
r_dir_file(mm-qcamerad, persist_camera_file)

allow mm-qcamerad camera_device:chr_file rw_file_perms;

allow mm-qcamerad priv_app:fd use;
