# Read /data/tombstones/ramdump files.
allow system_server ramdump_data_file:dir r_dir_perms;
allow system_server ramdump_data_file:file r_file_perms;

allow system_server self:netlink_socket create_socket_perms;

allow system_server rtc_device:chr_file rw_file_perms;

# Reading from /persist/wifi/.macaddr
allow system_server persist_file:dir r_dir_perms;
r_dir_file(system_server, persist_wifi_file)

allow system_server persist_file:dir rw_file_perms;

allow system_server sysfs_usb_supply:dir search;
allow system_server sysfs_usb_supply:file r_file_perms;

allow system_server sysfs_thermal:file r_file_perms;

# Perfd
allow system_server mpctl_socket:dir r_dir_perms;
allow system_server mpctl_socket:sock_file rw_file_perms;
